[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[requires]
python_version = "3.6"

[packages]
requests = "*"
python-dotenv = "*"
tqdm = "*"
pandas = "*"
pyarrow = "*"
jupyter = "*"
matplotlib = "*"
seaborn = "*"

[dev-packages]
ipython = "*"
ipdb = "*"
pytest = "*"
